
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Oswald:wght@400;700&display=swap');



*{
  margin: 0;
  box-sizing: border-box;  
    padding: 0;

}

body{

    font-family: 'Oooh Baby', cursive;
    font-family: 'Oswald', sans-serif;
    



}

header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}

video{
    width: 100%;
   background-color: black;
}

.texto{
    
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    font-size: 80px;
    color: white;
    font-weight: 900;
    z-index: 100;
    margin-bottom: 30px;

}

h1::after{
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;

}

.headerPagina h1{
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;


}

.headerPagina h1:hover{
    color: yellow;
    border-bottom: 4px transparent;
}

h2{
    font-size: 20px;
    color: white;
    font-weight: 900;
    z-index: 100;
    margin-top: 40px;

}

h2::after{
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;

}


.headerPagina h2{
    margin-top: 100px;
    transition: all 500ms ease;
    border: 4px solid transparent;


}

.headerPagina h2:hover{
    color: red; opacity: 80%;
    border: 4px transparent;
}

.Boton_Inicio{
    font-family: 'Oooh Baby', cursive;
    font-family: 'Oswald', sans-serif;

}


.boton{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 200px;
    color: white;
    border-radius: 30px white;
    padding: 20px;
    background: linear-gradient(orange, red);
    
}




